.App {
    text-align: center;
    padding:10px;
    font-size: 16px;

    .operateBtn {
        display:flex;
        justify-content: space-between;
        border-bottom: 1px solid #eeeeee;
    }
    .app{
        font-size: 16px;
        border-bottom: 1px solid #eeeeee;
    }
    .title{
        font-size: 18px;
        text-align: left;
    }
    .webview{
        border-bottom: 1px solid #eeeeee;
    }
    .webviewParams{
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        *{
            width:50%;
        }
    }
    .login{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:48px;
        border-bottom: 1px solid #eeeeee;
    }
    .baseUrl{
        display: flex;
        height:30px;
        white-space: nowrap;
        margin-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
    }
    .action{
        display: flex;
        height:30px;
        white-space: nowrap;
        margin-bottom: 10px;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
    }
    .local{
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow: auto;
        .localItem{
            display: flex;
            border-bottom: 1px solid #eeeeee;
            align-items: center;
            padding:5px;
            
        }
        
    }
    .files{
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow: auto;
        .filesItem{
            display: flex;
            border-bottom: 1px solid #eeeeee;
            align-items: center;
            padding:5px;
            
        }
        
    }
    .input{
        height:30px;
        flex:1;
        min-height:0;
    }
    .button{
        height:30px;

    }
}